# Python-Framework
django

# Install Django Crontab Module
django-crontab

# Localization Module
geopy

# OpenWeatherMap Module
pyowm

# Timezone Module
pytz

# Timezonefinder including numba
timezonefinder

# Serial communication
pyserial

### Celery requirements
celery==4.4.7
rabbitmq
django-celery-results==1.2.1
django-celery-beat==2.0.0