# Python-Framework
django

# Install Django Crontab Module
django-crontab

# Localization Module
geopy

# OpenWeatherMap Module
pyowm

# Timezone Module
pytz

# Timezonefinder including numba
timezonefinder[numba]

# Serial communication
pyserial

### Celery requirements
celery<5.0,>=4.4
rabbitmq
django-celery-results
django-celery-beat