{% load static %}

{% include "views/top.html" %}
      
<br>

<h1><img src="{% static 'webapp/img/icons/plans.svg' %}" width="64" class="mr-3"> Neuer Plan</h1>

<br><br>

<form method="POST" action="{% url 'plan_create' %}">
    
    {% csrf_token %}

    {{ form }}
    
    <br><br>
    <a class="btn btn-danger" href="{% url 'plans' %}" role="button">Abbrechen</a>
    <button type="submit" class="btn btn-primary">Zeitplan hinzufügen</button>
</form>




{% include "views/footer.html" %}

<script>
function myFunction() {
  // Get the checkbox
  var checkBox = document.getElementById("id_automation_rain");
  // Get the output text
  var element1 = document.getElementById("id_timespace_rain_forecast");
  var labels = document.getElementsByTagName('label');
  var label = null;
		for (var i = 0; i < labels.length; i++)
		  if (labels[i].htmlFor == "id_timespace_rain_forecast") {
		    label = labels[i];
		    break;
		  }

  // If the checkbox is checked, display the output text
  if (checkBox.checked == true){
    element1.style.display = "block";
    label.style.display = "block";
  } else {
    element1.style.display = "none";
    label.style.display = "none";
  }
} 

window.onload = function() {
  myFunction();
};
</script>


{% include "views/bottom.html" %}

