{% load static %}

{% include "views/top.html" %}
      
<br>

<h1><img src="{% static 'webapp/img/icons/plans.svg' %}" width="64" class="mr-3"> Plan editieren</h1>

<br><br>

{% if error %}
<div class="alert alert-danger" role="alert">
  {{error}}
</div>
{% endif %}

<form method="POST" action="{% url "plan_edit" id %}">
    
    {% csrf_token %}

    {{ form }}

    <br><br>
    <h3>Zeitplan</h3>
    <br>

    <a class="btn-sm btn-success" href="{% url 'schedule_create' id %}" role="button">Zeitplan hinzufügen</a>

    <br><br>

    {% if schedules %}

    <table class="table table-hover">
     
     <thead>
        <tr>
          <th scope="col">Erlaubte Wochentage</th>
          <th scope="col">Start</th>
          <th scope="col">Stop</th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
      {% for schedule in schedules %}
        <tr>
          <td>
            {% if schedule.is_allow %}
              {% with display_type="info" %}
                {% if 0 in schedule.weekdays %}
                <span class="badge badge-{{ display_type }}">Mo</span>
                {% else %}
                <span class="badge badge-light">Mo</span>
                {% endif %}
                {% if 1 in schedule.weekdays %}
                <span class="badge badge-{{ display_type }}">Di</span>
                {% else %}
                <span class="badge badge-light">Di</span>
                {% endif %}
                {% if 2 in schedule.weekdays %}
                <span class="badge badge-{{ display_type }}">Mi</span>
                {% else %}
                <span class="badge badge-light">Mi</span>
                {% endif %}
                {% if 3 in schedule.weekdays %}
                <span class="badge badge-{{ display_type }}">Do</span>
                {% else %}
                <span class="badge badge-light">Do</span>
                {% endif %}
                {% if 4 in schedule.weekdays %}
                <span class="badge badge-{{ display_type }}">Fr</span>
                {% else %}
                <span class="badge badge-light">Fr</span>
                {% endif %}
                {% if 5 in schedule.weekdays %}
                <span class="badge badge-{{ display_type }}">Sa</span>
                {% else %}
                <span class="badge badge-light">Sa</span>
                {% endif %}
                {% if 6 in schedule.weekdays %}
                <span class="badge badge-{{ display_type }}">So</span>
                {% else %}
                <span class="badge badge-light">So</span>
                {% endif %}
          </td>
          <td><span class="badge badge-{{ display_type }}">{{ schedule.time_start }}</span></td>
          <td><span class="badge badge-{{ display_type }}">{{ schedule.time_stop }}</span></td>
              {% endwith %}
            {% elif schedule.is_deny %}
              {% with display_type="warning" %}
                {% if 0 in schedule.weekdays %}
                <span class="badge badge-{{ display_type }}">Mo</span>
                {% else %}
                <span class="badge badge-light">Mo</span>
                {% endif %}
                {% if 1 in schedule.weekdays %}
                <span class="badge badge-{{ display_type }}">Di</span>
                {% else %}
                <span class="badge badge-light">Di</span>
                {% endif %}
                {% if 2 in schedule.weekdays %}
                <span class="badge badge-{{ display_type }}">Mi</span>
                {% else %}
                <span class="badge badge-light">Mi</span>
                {% endif %}
                {% if 3 in schedule.weekdays %}
                <span class="badge badge-{{ display_type }}">Do</span>
                {% else %}
                <span class="badge badge-light">Do</span>
                {% endif %}
                {% if 4 in schedule.weekdays %}
                <span class="badge badge-{{ display_type }}">Fr</span>
                {% else %}
                <span class="badge badge-light">Fr</span>
                {% endif %}
                {% if 5 in schedule.weekdays %}
                <span class="badge badge-{{ display_type }}">Sa</span>
                {% else %}
                <span class="badge badge-light">Sa</span>
                {% endif %}
                {% if 6 in schedule.weekdays %}
                <span class="badge badge-{{ display_type }}">So</span>
                {% else %}
                <span class="badge badge-light">So</span>
                {% endif %}
          </td>
          <td><span class="badge badge-{{ display_type }}">{{ schedule.time_start }}</span></td>
          <td><span class="badge badge-{{ display_type }}">{{ schedule.time_stop }}</span></td>
              {% endwith %}
            {% endif %}
          <td>
            <a class="btn-sm btn-secondary" href="{% url 'schedule_edit' id schedule.id %}" role="button">Bearbeiten</a>
            <a onclick="return confirm('Soll der Plan {{ plan.name }} löschen?')" class="btn-sm btn-danger" href="{% url 'schedule_delete' id schedule.id %}" role="button">Löschen</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  Für diesen Plan wurden noch keine Zeitpläne definiert.
  {% endif %}
  <br><br>
  <hr>    
  <br><br>
  <a class="btn btn-danger" href="{% url 'plans' %}" role="button">Abbrechen</a>
  <button type="submit" class="btn btn-success">Speichern</button>
</form>

{% include "views/footer.html" %}

<script>
function myFunction() {
  // Get the checkbox
  var checkBox = document.getElementById("id_automation_rain");
  // Get the output text
  var element1 = document.getElementById("id_timespace_rain_forecast");
  var labels = document.getElementsByTagName('label');
  var label = null;
    for (var i = 0; i < labels.length; i++)
      if (labels[i].htmlFor == "id_timespace_rain_forecast") {
        label = labels[i];
        break;
      }

  // If the checkbox is checked, display the output text
  if (checkBox.checked == true){
    element1.style.display = "block";
    label.style.display = "block";
  } else {
    element1.style.display = "none";
    label.style.display = "none";
  }
} 

window.onload = function() {
  myFunction();
};
</script>

{% include "views/bottom.html" %}