{% load static %}

{% include "views/top.html" %}
      
<br>

<h1><img src="{% static 'webapp/img/icons/bucket.svg' %}" width="64" class="mr-3"> Statistiken</h1>

<br><br>

<h3>Wasserverbrauch in {{ year }}</h3>

<br>
<a href="{% url 'statistics_year' year_after %}" class="btn btn-secondary">Vorheriges Jahr {{ year_after }}</a>
<a href="{% url 'statistics_year' year_before %}" class="btn btn-secondary">Nächstes Jahr {{ year_before }}</a>

<br><br>

<canvas id="waterUsageChart"></canvas>

<br>


<canvas id="waterPieChart"></canvas>

<br><br>

<h3>Historie</h3>
      
<br>

<script type="text/javascript">
	var ctx = document.getElementById('waterUsageChart').getContext('2d');
	var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',
    // The data for our dataset
    data: {
        labels: ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'],
        datasets: [{
            label: 'Insgesamt Liter/Monat',
            backgroundColor: 'rgb(46, 164, 219)',
            data: [{{ water_month_1|stringformat:"d" }}, {{ water_month_2|stringformat:"d" }}, {{ water_month_3|stringformat:"d" }}, 
				   {{ water_month_4|stringformat:"d" }}, {{ water_month_5|stringformat:"d" }}, {{ water_month_6|stringformat:"d" }}, 
				   {{ water_month_7|stringformat:"d" }}, {{ water_month_8|stringformat:"d" }}, {{ water_month_9|stringformat:"d" }},
				   {{ water_month_10|stringformat:"d" }}, {{ water_month_11|stringformat:"d" }}, {{ water_month_12|stringformat:"d" }}]
        }]
    },
    options: {}
	});

	var ctx2 = document.getElementById('waterPieChart').getContext('2d');
	var chart2 = new Chart(ctx2, {
	type: 'pie',
	data: {
			datasets: [{
				data: [
					1, 2, 3, 4, 5
				],
				backgroundColor: [
				'rgb('+Math.floor(Math.random() * 256)+','+Math.floor(Math.random() * 256)+','+Math.floor(Math.random() * 256)+')',
				'rgb('+Math.floor(Math.random() * 256)+','+Math.floor(Math.random() * 256)+','+Math.floor(Math.random() * 256)+')',
				'rgb('+Math.floor(Math.random() * 256)+','+Math.floor(Math.random() * 256)+','+Math.floor(Math.random() * 256)+')',
				'rgb('+Math.floor(Math.random() * 256)+','+Math.floor(Math.random() * 256)+','+Math.floor(Math.random() * 256)+')',
				'rgb('+Math.floor(Math.random() * 256)+','+Math.floor(Math.random() * 256)+','+Math.floor(Math.random() * 256)+')',


				],
				label: 'Dataset 1'
			}],
			labels: [
				'Rasen vorne',
				'Kirschbaum',
				'Rosen Terasse',
				'Rasen hinten',
				'Rododrendron'
			]
		},
		options: {
			responsive: true
			
		}
		
	});
</script>

{% if watering_statistics %}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Startzeitpunkt</th>
      <th scope="col">Ventil</th>
      <th scope="col">Dauer</th>
      <th scope="col">Wassermenge</th>
    </tr>
  </thead>


  <tbody>
    {% for watering_statistic in watering_statistics %}
      <tr scope="row">
	  <td>{{ watering_statistic.start_time }} Uhr</td>
	  <td>{{ watering_statistic.valve_fk }}</td>
	  <td>{{ watering_statistic.duration_seconds }} Sekunden</td>
	  <td>{{ watering_statistic.water_amount|floatformat:2 }} Liter</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}

<p>Es wurde noch keinmal bewässert.</p>


{% endif %}

{% include "views/footer.html" %}

{% include "views/bottom.html" %}