{% load static %}

{% include "views/top.html" %}
      
<br>

<h1><img src="{% static 'webapp/img/icons/weather.svg' %}" width="64" class="mr-3"> Wetter</h1>

<br><br>



{% if location_name %}
<div class="card">
  <div class="card-body">
    📍 {{ location_name }}
  </div>
</div>

{% endif %}

<br>

{% if weathers %}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Uhrzeit</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
      <th scope="col">Temperatur</th>
      <th scope="col">Niederschlag</th>
      <th scope="col">Luftfeuchtigkeit</th>
      <th scope="col">Wind</th>
    </tr>
  </thead>


  <tbody>
    {% for weather in weathers %}
      <tr scope="row">
      <td>{{ weather.reference_time }}</td>
      <td>
          {% if weather.weather_status_fk %}
          <img style="margin-top:-10px" src="http://openweathermap.org/img/wn/{{ weather.weather_status_fk.icon }}{{ daytime }}.png" >
        </td>
        <td>
          {{ weather.weather_status_fk.description }}
          {% endif %}
      </td>
      <td>{{ weather.temperature }}°C</td>
      <td>{{ weather.rain }} mm</td>
      <td>{{ weather.humidity }} %</td>
      <td>{{ weather.wind }} km/Std.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}

<p>Es wurden keine Pläne gefunden.</p>


{% endif %}

      
{% include "views/footer.html" %}

{% include "views/bottom.html" %}